.toolbar-background{
    background: #424242 !important;color: #fff
}
.sidebar{
    background: #fff !important;
    color: #000;
    .item-inner{border-bottom: 0px !important}
}
.toolbar-title{
    color: #fff
}
ion-navbar button{color: #fff !important}
.content{background: #eee}

.uname{width:40px;height:40px;border-radius: 50%;background: #000}