
.toolbar-background,.sidebar,.sidebar .item{
    background: #424242 !important;color: #fff;
}
.sidebar{
    .item{border-bottom: 1px solid #eee;
    }
    .item-inner{border-bottom: 0px !important}
}

ion-navbar button{color: #fff !important}
.content{background: #eee}
.toolbar-title{color: #fff}
ion-toolbar{
    .toolbar-title{
        color: #fff
    }
    ion-item{background: none !important;color: #fff;
    h2{color: #fff}
    p{color: #bdbdbd}
    }
     avatar img{border: 2px solid #ffff;}
}