page-account {
    .account-header{background: #424242;color: #fff;text-align: center;
    img{
        border-radius: 50%;
        margin: 0px auto;
        border: 2px solid;
    }
    .account-info{
        .title{text-align: center}
    }
}
}
