<ion-header hideBackButton>
  <ion-navbar>
    <ion-buttons end>
        <button ion-button icon-only >
          <ion-icon name="notifications"></ion-icon>
        </button>
      </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Form</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-title>Login Form</ion-title>
    <form #blogForm="ngForm" (ngSubmit)="newBlog(blogForm.value)">
    {{blogForm.value | json}}
    <ion-list>
      <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text" name="uname" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" [(ngModel)]="username" required></ion-input>
          
        </ion-item>
        <small [class.d-none]="name.valid || name.untouched">Name is required </small>
      <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input type="password" name="pass" [(ngModel)]="pass"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Contact</ion-label>
          <ion-input type="tel" #contact="ngModel" pattern="^\d{10}$" [class.is-invalid]="contact.invalid && contact.touched" name="phone" [(ngModel)]="phone"></ion-input>
      </ion-item>
      
      <div *ngIf="contact.errors && (contact.invalid || contact.touched)">
          <small class="text-danger" *ngIf="contact.errors.required">Contact number is required.</small>
          <small class="text-danger" *ngIf="contact.errors.pattern">Contact number must be 10 digits.</small>
      </div>
      
      <div ngModelGroup="address">
        <ion-item>
            <ion-label floating>Street</ion-label>
            <ion-input type="text" name="street" [(ngModel)]="street" required></ion-input>
        </ion-item>
          
        <ion-item>
            <ion-label floating>City</ion-label>
            <ion-input type="text" name="city" [(ngModel)]="city" required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>State</ion-label>
            <ion-input type="text" name="state" [(ngModel)]="state" required></ion-input>
        </ion-item>
      </div>
      <ion-item>
          <button ion-button full type="submit" color="primary" [disabled]="!blogForm.valid">Save</button>
      </ion-item>
    </ion-list>
  </form>
  <ion-title>Checkbox</ion-title>
  <ion-list>

      <ion-item>
        <ion-label>Pepperoni</ion-label>
        <ion-checkbox [(ngModel)]="pepperoni"></ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-label>Sausage</ion-label>
        <ion-checkbox [(ngModel)]="sausage"></ion-checkbox>
      </ion-item>
    
      <ion-item>
        <ion-label>Mushrooms</ion-label>
        <ion-checkbox [(ngModel)]="mushrooms"></ion-checkbox>
      </ion-item>
    
    </ion-list>
    <ion-title>Radio Button</ion-title>
    <ion-list radio-group [(ngModel)]="relationship">
        <ion-item>
          <ion-label>Friends</ion-label>
          <ion-radio value="friends" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Family</ion-label>
          <ion-radio value="family"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Enemies</ion-label>
          <ion-radio value="enemies" [disabled]="isDisabled"></ion-radio>
        </ion-item>
      </ion-list>
      <ion-title>Toggle Button</ion-title>
      <ion-list>

          <ion-item>
            <ion-label>Pepperoni</ion-label>
            <ion-toggle [(ngModel)]="pepperoni"></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-label>Sausage</ion-label>
            <ion-toggle [(ngModel)]="sausage" ></ion-toggle>
          </ion-item>
        
          <ion-item>
            <ion-label>Mushrooms</ion-label>
            <ion-toggle [(ngModel)]="mushrooms"></ion-toggle>
          </ion-item>
        
        </ion-list>
        <ion-title>Range</ion-title>
        <ion-list>
            <ion-item>
              <ion-range [(ngModel)]="singleValue" color="danger" pin="true"></ion-range>
            </ion-item>
          
            <ion-item>
              <ion-range min="-200" max="200" [(ngModel)]="saturation" color="secondary">
                <ion-label range-left>-200</ion-label>
                <ion-label range-right>200</ion-label>
              </ion-range>
            </ion-item>
          
           <ion-item>
             <ion-range min="20" max="80" step="2" [(ngModel)]="brightness">
               <ion-icon small range-left name="sunny"></ion-icon>
               <ion-icon range-right name="sunny"></ion-icon>
             </ion-range>
           </ion-item>
          
            <ion-item>
              <ion-label>step=100, snaps, </ion-label>
              <ion-range min="1000" max="2000" step="100" snaps="true" color="secondary" [(ngModel)]="singleValue4"></ion-range>
            </ion-item>
          
            <ion-item>
              <ion-label>dual, step=3, snaps, </ion-label>
              <ion-range dualKnobs="true" [(ngModel)]="dualValue2" min="21" max="72" step="3" snaps="true"></ion-range>
            </ion-item>
          </ion-list>
</ion-content>
